*

!.Xresources
!.config/
!.config/awesome/
!.config/awesome/*
!.config/nvim/
!.config/nvim/*
!.config/yadm/
!.config/yadm/*
!.config/dconf/
!.config/dconf/settings.ini
!.gitconfig
!.gitignore
!.oni/*
!.tmux.conf
!.vimrc
!.weechat/*.conf
!.zshrc*
