*background: #002b36
*foreground: #657b83
*fading: 100
*fadeColor: #000000
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3


URxvt*saveLines:	20480\302\240
URxvt*matcher*button:	1
URxvt*secondaryScroll:	true
URxvt*perl-ext-common:	default,matcher,searchable-scrollback
URxvt*blurRadius:	20
URxvt*font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso8859-1
URxvt*buffered:	true
URxvt*boldFont:	xft:xos4 Terminus:bold:pixelsize=14:antialias=true
URxvt*fading:	15
URxvt*scrollBar:	false
URxvt*urlLauncher: qutebrowser
URxvt.letterSpace: 0

